@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto);@charset "UTF-8";
#pageStart, #pageGame, #pageScore {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #CFCFCF;
  color: #0D4F8B;
  font-family: 'Roboto', sans-serif; }

[class^=slide-] {
  z-index: 1;
  position: absolute;
  left: 0;
  top: -300%;
  -webkit-transition: 0.001s;
  -moz-transition: 0.001s;
  -ms-transition: 0.001s;
  -o-transition: 0.001s;
  transition: 0.001s; }

[class^=slide-].show {
  z-index: 2;
  top: 0; }

.slide-start {
  top: 0;
  /* widoczny od początku */ }

a {
  text-decoration: none;
  color: #FF8000; }

/* GAME MENU */
#pageStart .basketballBoard {
  width: 70vw;
  height: 80vh;
  border: 20px solid #000;
  background-color: #EBEBEB;
  position: relative; }
  #pageStart .basketballBoard h1 {
    font-size: 700%;
    text-align: center;
    margin-top: 10%; }
  #pageStart .basketballBoard .ball {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 65%;
    left: -15%;
    background: url(../images/ball.png) center center/contain no-repeat;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  #pageStart .basketballBoard .smallBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vh;
    border: 20px solid #000;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    font-size: 300%;
    color: #000; }
    #pageStart .basketballBoard .smallBoard:hover {
      border: 20px solid #CD3700;
      color: #CD3700; }

/* GAME BOARD */
#pageGame {
  background-color: #CFCFCF;
  flex-direction: column; }
  #pageGame #gameBoard {
    position: relative;
    height: 70%;
    width: 80%; }

.cardBox {
  width: 19%;
  margin: 0.5%;
  height: 21%;
  display: inline-block;
  position: relative; }

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  border: 2px solid #858585;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4); }

.front {
  background: #fff url(../images/nba.png) center center/20% 90% no-repeat;
  transition: .6s transform linear;
  backface-visibility: hidden; }

.back {
  transition: .6s transform linear;
  backface-visibility: hidden; }

.card-type-0.back {
  background: url(../images/boston.png) #fff center center/auto 90% no-repeat; }

.card-type-1.back {
  background: url(../images/chicago.png) #fff center center/auto 90% no-repeat; }

.card-type-2.back {
  background: url(../images/cleveland.png) #fff center center/auto 90% no-repeat; }

.card-type-3.back {
  background: url(../images/houston.png) #fff center center/auto 90% no-repeat; }

.card-type-4.back {
  background: url(../images/la_lakers.png) #fff center center/auto 90% no-repeat; }

.card-type-5.back {
  background: url(../images/miami.png) #fff center center/auto 90% no-repeat; }

.card-type-6.back {
  background: url(../images/oklahoma.png) #fff center center/auto 90% no-repeat; }

.card-type-7.back {
  background: #fff url(../images/san_antonio.png) center center/90% 90% no-repeat; }

.card-type-8.back {
  background: url(../images/warriors.png) #fff center center/auto 90% no-repeat; }

.card-type-9.back {
  background: url(../images/washington.png) #fff center center/auto 90% no-repeat; }

.score {
  margin-bottom: 10px;
  font-size: 30px; }

.boxButton {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #CFCFCF;
  font-size: 25px;
  color: #7A7A7A;
  border: 3px solid #7A7A7A;
  text-align: center;
  padding-top: 7px; }
  .boxButton:hover {
    color: #CD3700;
    border: 3px solid #CD3700; }

/* GAME SCORE */
#pageScore {
  background-color: #CFCFCF;
  flex-direction: column; }
  #pageScore #gameScore {
    width: 45vw;
    height: 45vh;
    background: url(../images/court.png) center center/100% 100% no-repeat;
    opacity: 0.5;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    padding: 150px 20px;
    margin-bottom: 50px;
    text-align: center; }
    #pageScore #gameScore h1 {
      font-weight: bold;
      font-size: 300%;
      opacity: 1; }
